<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
    <tlib-version>1.0</tlib-version>
    <short-name>taglib</short-name>
    <uri>/WEB-INF/tlds/taglib</uri>
    <tag>
    <name>maptag</name>
    <tag-class>ua.kpi.tags.LocalMapTag</tag-class>
    <body-content>empty</body-content>
    <attribute>
            <name>request</name>
            <required>true</required>&gt;
            <rtexprvalue>true</rtexprvalue>&gt;
        </attribute>
  </tag>&gt;
</taglib>
